ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
MarkupSafe==1.1.1
mathparse==0.1.2
nltk==3.5
packaging==20.4
Pint==0.13
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.7.5
PyYAML==5.1
regex==2020.6.8
six==1.15.0
SQLAlchemy==1.2.19
tqdm==4.46.1
Werkzeug==1.0.1
pytz==2020.0.1
